//
//-- Forms
//

%obrigatorio {
	color: #C00;
	font-size: 1.5em;
	height: 1rem;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	border: 0;
}

//estilos base

label, select, button {
	cursor: pointer;
}

select option {
	padding-right: 1em;
}

.obrigatorio {
	@extend %obrigatorio;
}

.form-padrao {
	.campo {
		margin-bottom: 0.5em;

		label {
			display: block;
			font-size: 1em;
			margin-bottom: 0.2em;

			span {
				font-style: italic;
				font-size: 0.8em;
				color: #666;
			}

			abbr {
				@extend %obrigatorio;
			}
		}

		label.checkbox {
			display: inline-block;
			margin-right: 1em;
			margin-bottom: 1em;
			font-size: 0.875em;

			input {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="url"],
	input[type="password"],
	select,
	textarea
	{
		display: inline-block;
		padding: 0.2em;
		border: 1px solid #CCC;
		width: 100%;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
		transition: background 0.2s ease;

		&:focus {
			background: #FFC;
		}
	}

	.botao {
		margin-top: 0.5em;
	}
}

//botões

.botao, a.botao {
	font-size: 1.25em;
	text-align: center;
	display: inline-block;
	border: 0;
	padding: 0.3em 0.7em;
	background: $color-base;
	color: #FFF;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-decoration: none;
	transition: background 0.2s ease;

	&:hover {
		background: $color-base-light;
	}

	&:active {
		box-shadow: inset -2px -2px 2px rgba(0,0,0,0.15);
		text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
	}

	&.botao-submit {
		background: $color-compl;
		margin-top: 1em;
	}
}

//mensagens

.mensagem {
	background: #F90;
	color: #FFF;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	font-weight: normal;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);

	&-erro {
		background: #900;
	}

	&-info {
		background: #329FFF;
	}
}