//
//-- Estrutura
//

.site
{
	max-width: 80em;
	min-width: 20em;
	margin: 0 auto;
}

.site-cabecalho {
	position: relative;
}

.site-logo {
	display: block;
	float: left;
	text-decoration: none;
	padding: 1em 0;

	span {
		display: block;
		margin-bottom: 0.75em;
		font-size: 0.75rem;
		color: #666;
	}

	&:hover span {
		color: $color-highlight;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.link-ver-site {
	float: right;
	font-style: italic;
	text-decoration: none;
	font-size: 0.815em;
	color: #000;
	opacity: 0.5;
	clear: right;
	margin: 1em 0;

	&:hover, &:focus {
		opacity: 1;
	}
}

.usuario-meta {
	float: right;
	padding: 1em;
	background: #DDD;
	color: #000;
	font-size: 0.875em;
	margin: 1em 0;

	a {
		color: #333;
		text-decoration: none;

		&:hover {
			color: #666;
			text-decoration: underline;
		}
	}
}

.menu-principal {
	clear: both;

	ul {
		background: $color-base;
		width: 100%;
		margin: 0;
	}

	li {
		display: block;
		position: relative;
		float: left;
		margin: 0;

		ul {
			display: none;
			position: absolute;
			min-width: 8em;
			max-width: 20em;
			width: 200%;
			z-index: 100;
			
			box-shadow: 4px 4px 4px rgba(0,0,0,0.2);

			li {
				float: none;
			}

			a {
				float: none;
				text-transform: none;
				font-size: 0.875em;
				text-align: left;
				padding: 0.5em 1em;
			}
		}

		&:hover ul {
			display: block;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: #FFF;
		text-transform: uppercase;
		font-size: 0.875em;
		padding: 0.5em 1em;
		text-align: center;

		&:hover, &:focus {
			text-decoration: underline;
		}

		&.ativo {
			background: $color-highlight;
		}
	}
}

.site-corpo {
	background: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.site-conteudo {
	padding: 1em 2em 2em;
}

.site-rodape {
	background: #555;
	color:#FFF;

	small {
		display: block;
		padding: 1em;
		font-size: 0.625em;
	}
}