//ícones

.icone, a.icone, .td-subcat {
	&:before {
		font-family: FontAwesome;
		margin-right: 0.25em;
		display: inline-block;
	}
}

.icone, a.icone {
	display: inline-block;
	text-decoration: none;
	font-size: 0.875em;
	margin-right: 1em;
	vertical-align: middle;

	&.email:before {
		content: "\f0e0";
	}

	&.linkedin:before {
		content: "\f08c";
	}

	&.fone:before {
		content: "\f098";
	}

	&.adicionar:before {
		content: "\f0fe";
	}

	&.alterar:before {
		content: "\f044";
	}

	&.excluir:before
	,&.excluirvarios:before
	,&.cross:before
	{
		content: "\f00d";
	}

	&.switch:before
	,&.reordenar:before {
		content: "\f074";
	}

	&.detalhes:before {
		content: "\f022";
	}

	&.imprimir {
		float: right;
	}

	&.imprimir:before {
		content: "\f02f";
	}

	&.compress:before {
		content: "\f1c6";
	}

	&.duplicar:before {
		content: "\f0c5";
	}

	&.fotos:before {
		content: "\f03e";
	}

	&.transf:before {
		content: "\f07e";
	}
}

a.icone:hover {
	text-decoration: underline;
}

.td-subcat {
	&:before {
		content: "\f0a9";
		font-size: 1.125em;
		margin-right: 0.5em;
		margin-left: 0.5em;
		opacity: 0.7;
	}
}