// mais ações

.mais-acoes {
	margin-bottom: 1em;
	font-size: 0.875em;

	ul {
		list-style: none;
		display: inline;
	}

	li {
		display: inline-block;
	}
}

.lista-reorder {
	li {
		display: inline-block;
		border: 1px solid #CCC;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
		padding: 0.5em;
		margin-right: 1%;
		margin-bottom: 1em;
		cursor: move;
	}
}

.abas {
	> ul {
		list-style: none;
		margin: 0;
		margin-bottom: 1em;
		border-bottom: 1px solid #EEE;

		li {
			display: inline-block;
		}

		a {
			display: block;
			text-decoration: none;
			margin-right: 0.5em;
			padding: 0.3em 0.7em;
			background: #EEE;
			border: 1px solid #EEE;
			color: #666;
			position: relative;
			top: 1px;
			outline: none;

			&:hover {
				color: #000;
				text-decoration: underline;
			}

			&.ativo {
				background: #FFF;
				color: #F60;
				border-bottom-color: #FFF;
				box-shadow: 2px -2px 3px rgba(0,0,0,0.1);
			}
		}
	}
}

.imagem, .imagem-ph {
	display: inline-block;
	padding: 1em;
	margin-right: 1.25em;
	margin-bottom: 1.25em;
	border: 1px solid #CCCCCC;
	text-align: center;
	font-size: 0.875em;
	position: relative;
	background-color: #FFFFFF;
	vertical-align: middle;
	text-align: center;

	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.imagem-ph {
	background: #FFC;
	min-width: 10em;
	min-height: 10em;
}

.imagem {
	img {
		display: block;
		margin: 0.5em auto;
	}

	h3 {
		font-size: 0.875em;
		margin-top: 0;
	}

	&-slide {
		max-width: 48%;
	}
}

//mensagens

.mensagem {
	background: #F90;
	color: #FFF;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	font-weight: normal;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);

	&-erro {
		background: #900;
	}

	&-info {
		background: #329FFF;
	}

	&-resposta {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
		text-align: center;

		&:empty {
			display: none;
		}
	}
}

// paginação

.paginacao {
	font-size: 0.875em;
	margin: 1.5em 0;
	text-align: center;

	a, strong {
		display: inline-block;
		padding: 0.3em 0.7em;
		border: 1px solid #EEEEEE;
		margin: 0 0.3em;
		text-decoration: none;
	}

	a {
		&:hover {
			background-color: #333333;
			text-decoration: none;
			color: #FFFFFF;
		}
	}

	strong {
		background-color: #666666;
		color: #FFFFFF;
	}
}
